
/*fundo*/
body {
    font-family: Arial, sans-serif;
    background: #fff0f0; 
    text-align: center;
    padding: 20px;
}

/* Cores de títulos */
h1,h2,h3 { 
    color: #b91c1c; 
    margin-bottom:10px; 
}

/* fundo dos paineis de batalha */
.panel {
    background: #fff;
    border: 2px solid #b91c1c;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

/* Inputs e botões */
input, select, button { 
    padding:5px 10px; 
    margin:4px; 
    border-radius:5px; 
    border:1px solid #b91c1c;
}

/* Estilo principal dos botões */
button { 
    background:#b91c1c; 
    color:#fff; 
    cursor:pointer; 
}

/* hover */
button:hover { 
    background:#e11d48; 
}

/* Barra de HP dos Pokémons */
.progress-bar { 
    width:150px; 
    height:20px; 
    background:#ddd; 
    border-radius:10px; 
    margin:5px auto; 
}

/* Preenchimento da barra de vida */
.progress-fill { 
    background:#1e40af; 
    height:100%; 
    width:100%; 
    border-radius:10px; 
    transition:width 0.5s; /* animação suave */
}

/* Imagem do Pokémon */
.pokemon-img { 
    width:100px; 
}

/*exibi os Pokémons lado a lado */
.flex-container { 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    gap:40px; 
    margin-top:10px; 
}

/* Itens da lista de treinadores e histórico */
.list-item { 
    text-align:left; 
    margin:4px 0; 
}
